body {
    height: 100%;
    width: 100%;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bfc9d3;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.inner-page {
    background-color: #282828;
    margin: 50px 25%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex-wrap: wrap;
}

.section-one {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-one-top {
    display: flex;
    justify-content: space-between;
}

.section-one-top-left {
    display: flex;
    gap: 40px;
}

.section-one-top-left-text>h4 {
    color: #499ecf;
}

.section-one-top-right {
    display: flex;
    gap: 8px;

}

.section-one-top-right-information-field {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
}

.section-one-top-right-information-response {
    color: #8b8b8b
}

.section-one-top-right-information-response>p>a {
    color: #539fb9
}

.section-two {
    display: flex;
    gap: 30px;
}

.employment,
.education {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.employment-item,
.education-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-two-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-two-left-heading {
    display: flex;
    align-items: center;
    background-color: #373737;
    border-radius: 5px;
    gap: 10px;
}

.section-two-left-heading>img {
    background-color: green;
    border-radius: 3px;
    height: 35px;
    width: 35px;
}

.section-two-right {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.graphic-skill-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.graphic-skill-square {
    height: 10px;
    width: 10px;
}

.first-square {
    background-color: #267eac;
}

.second-square {
    background-color: #38a4e3;
}

.third-square {
    background-color: #64ad1e;
}

.fourth-square {
    background-color: #ffac32;
}

.fifth-square {
    background-color: #d43900;
}



.language-skill-item {
    display: flex;
    gap: 100px;

}

.language-skill-item>p {
    min-width: 50px;
}

.language-skill-item-circles {
    display: flex;
    gap: 10px;
    padding-right: 200px;
}

.language-skill-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
}

.english-filled {
    background-color: #49a7cd;
}

.french-filled {
    background-color: #66a723
}

.spanish-filled {
    background-color: #fcbd1b
}

.english-empty,
.french-empty,
.spanish-empty {
    background-color: #232323;
}

.section-two-left-employment-header,
.section-two-left-education-header {
    display: flex;
    justify-content: space-between;
}

.section-two-left-employment-title,
.section-two-left-education-title {
    display: flex;
    gap: 10px;
}

.section-two-left-employment-title>p {
    padding-top: 5px;
}

.section-two-left-employment-title-text>h4,
.section-two-left-education-title-text>h4 {
    color: #999999;
}

.programming-skills,
.graphic-skills,
.language-skills {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.programming-skills-group,
.graphic-skills-group,
.language-skills-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.programming-skills-item-one>.percentage-outer {
    width: 100%;
    background-color: white;
}

.programming-skills-item-one>.percentage-outer>.percentage-inner {
    width: 90%;
    background-color: #2b7dad;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.programming-skills-item-one>h4,
.programming-skills-item-two>h4,
.programming-skills-item-three>h4,
.programming-skills-item-four>h4,
.programming-skills-item-five>h4,
.graphic-skill-item>p,
.language-skill-item>p {
    color: #7e7e80;
}

.programming-skills-item-two>.percentage-outer {
    width: 100%;
    background-color: white;
}

.programming-skills-item-two>.percentage-outer>.percentage-inner {
    width: 80%;
    background-color: #3ea7d7;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.programming-skills-item-three>.percentage-outer {
    width: 100%;
    background-color: white;
}

.programming-skills-item-three>.percentage-outer>.percentage-inner {
    width: 93%;
    background-color: #69a722;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.programming-skills-item-four>.percentage-outer {
    width: 100%;
    background-color: white;
}

.programming-skills-item-four>.percentage-outer>.percentage-inner {
    width: 80%;
    background-color: #ffbe24;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    color: white;
}


.programming-skills-item-five>.percentage-outer {
    width: 100%;
    background-color: white;
}

.programming-skills-item-five>.percentage-outer>.percentage-inner {
    width: 70%;
    background-color: #f82601;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.programming-skills-item-one,
.programming-skills-item-two,
.programming-skills-item-three,
.programming-skills-item-four,
.programming-skills-item-five {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#self-portrait {
    max-height: 105px;
    min-width: 105px;
    object-fit: cover;
    object-position: 50% 10%;
    border: solid 3px #3b3c37;
    border-radius: 3px;
}

.ignore-parent-padding {
    border: solid 1px #505050;
    margin: 0 -40px;
}

.section-two-left-hr {
    width: 100%;
    border: dotted 1px #3a3a3a;
}

.section-two-left-employment-title img {
    height: 15px;
    width: 15x;
    rotate: 270deg;
    background-color: #d76d33;
    filter: invert(100%);
    border-radius: 50%;
    margin-top: 5px;
}

.section-two-left-education-title img {
    height: 15px;
    width: 15x;
    rotate: 270deg;
    background-color: #995bb9;
    filter: invert(100%);
    border-radius: 50%;
    margin-top: 5px;
}

.section-two-left-heading>img {
    filter: invert(100%);
    background-color: #d76d33;
}

.education>.section-two-left-heading>img {
    filter: invert(100%);
    background-color: #995bb9;
}

.section-two-left-education-header>h3,
.section-two-left-employment-header>h3 {
    color: #686868
}

.programming-skills-header>h2,
.graphic-skills-header>h2,
.language-skills-header>h2 {
    color: white;
}

@media (max-width: 1680px) {
    #self-portrait {
        display: none;
    }

    .section-one-top {
        align-items: center;
        flex-direction: column;
    }

    .section-two {
        flex-direction: column;
    }

    .section-two-left {
        order: 2;
    }

    .section-two-right {
        order: 1;
    }

}